table {
    border: 1px solid;
    margin: 30px;
}

tr {
    color: rgb(30, 158, 118);
}

td {
    border: 1px solid;
    text-align: center;   
}

.green {
    background-color: rgb(40, 211, 69);
    color: #FFF;
}